.card {
  width: 380px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.5);
  padding: 24px;
  margin-bottom: 24px;
}

.card-activity {
  font-size: 1rem;
  font-weight: 700;
  color: #646678;
  margin-bottom: 16px;
}

.card-description {
  font-size: 1rem;
  font-weight: 400;
  color: #b4bbc8;
}
